<!doctype html>
<html lang="en">

<head>
    <title>พื้นที่พบผู้ติดเชื้อ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(0, 0, 0)">
        <a class="navbar-brand" href="/">
            <img src="/imgs/icon.png" height="60px" alt="no img">
        </a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                           สถานการณ์Covid-19
                     </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="thailand">ประเทศไทย</a>
                        <a class="dropdown-item" href="Country">ต่างประเทศ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Map">พื้นที่พบผู้ติดเชื้อ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="protect">การป้องกัน</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div style="display: flex; justify-content: center;">
            <B style="text-align: center;padding: 20px; ">
                <font size="7">พื้นที่พบผู้ติดเชื้อ</fontsize>
            </B>
        </div>
        <div class="d-flex p-2 bg-primary" style="background-color: white;">
            <div class=" p-2 mr-2 bg-light border text-center">
                <div>
                    <B>อัตราการติดเชื้อสะสม</B>
                </div>
                <%= totalObject.totalConfirmed %>
                    <B>คน</B>
            </div>
            <div class=" p-2 mr-2 bg-light border1 text-center">
                <div>
                    <B>อัตราการหายจากโรคสะสม</B>
                </div>
                <%= totalObject.totalRecovered %>
                    <B>คน</B>
            </div>
            <div class=" p-2 mr-2 bg-light border2 text-center">
                <div>
                    <B>อัตราการเสียชีวิตสะสม</B>
                </div>
                <%= totalObject.totalDeath %>
                    <B>คน</B>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div id="map" style="height: 500px; width: 600px;"></div>
    </div>
    <div class="chart-container" style="background-color: white; position: absolute; height:63vh; width:80vw; margin-top: 48px;">
        <canvas id="myChart" width="750" height="400" style="overflow: auto;"></canvas>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="/javascripts/Map.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="/javascripts/chart.js"></script>
    <script>
        getMap(`<%-JSON.stringify(Maps) %>`, `<%-JSON.stringify(objCountry) %>`);
        myChart(`<%-JSON.stringify(totalObject) %>`);
    </script>
</body>

</html>